.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-search {
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 25px;
    input {
      padding: 5px;
      border: none;
      background: transparent;
    }
  }
  .profile-cart {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 10px;
    position: relative;
    svg {
      font-size: 40px;
      cursor: pointer;
    }
    .logout-wrapper {
      position: absolute;
      background: hsla(11, 80%, 31%, 1);
      top: 40px;
      left: 0px;
      padding: 5px 10px;
      margin: 15px 0px 15px 5px;
      border-radius: 5px;
      p {
        margin: 0;
        cursor: pointer;
      }
    }
    .cart-wrapper {
      position: relative;
      cursor: pointer;
      .product-number {
        position: absolute;
        background-color: orange;
        font-size: 16px;
        font-weight: 600;
        border-radius: 2px;
        color: #000000;
        top: 22px;
        right: 0;
        width: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
